{% extends 'base.html.twig' %}

{% block title %}{{ page.name|raw }}{% endblock title %}

{% block body %}
{% include "partial/__flashMessages.html.twig" %}
<section>
    <div class="content">
        {{  page.contents[0].content|raw }}
        <img src="{{ asset("build/images/Logo.png") }}" alt="">
    </div>
</section>
<img class="wave-svg" src="{{ asset('build/images/wave.svg' )}}" alt="">
<section>
    <h1>Nos Antennes</h1>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11JAbMf43wPJOupdjKubK3hCNsfQMioU&ehbc=2E312F" width="75%" height="756"></iframe>
</section>
{% include "partial/__comment.html.twig" %}
{% endblock body %}
