{% extends 'base.html.twig' %}

{% block title %}{{ page.name|raw }}{% endblock title %}

{% block body %}
    <div class="container-lg pt-5 pb-5">
        <section class="mb-5 pb-5">
            {% include "partial/__flashMessages.html.twig" %}
            {% for content in page.contents %}
                <div class="row {{ content.position }}">
                    <div>
                        {{ content.content|raw }}
                    </div>
                </div>
            {% endfor %}
        </section>
        {% include "partial/__comment.html.twig" %}
    </div>

{% endblock body %}
