{% extends 'base.html.twig' %}

{% block title %}{{ page.name|raw }}{% endblock title %}

{% block body %}
{% include "partial/__flashMessages.html.twig" %}
<section>
    <h1>
        <span>Qui</span>
        <span></span>
        <span>Sommes</span>
        <span></span>
        <span>Nous</span>
        <span>?</span>
    </h1>
    {% for content in page.contents %}
        <div class="content">
            {{ content.content|raw }}
        </div>
    {% endfor %}
</section>
<section>
    <h1>Nos Antennes</h1>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11JAbMf43wPJOupdjKubK3hCNsfQMioU&ehbc=2E312F" width="75%" height="756"></iframe>
</section>
{% include "partial/__comment.html.twig" %}
{% endblock body %}
