{% extends 'base.html.twig' %}

{% block title %}{{ page.name|raw}}{% endblock %}

{% block body %}
<div class="container pt-5 pb-5">
    <div>
        {{ page.content|raw}}
    </div>
    <div>
        {% include "page/__comment.html.twig" %}
    </div>
</div>

{% endblock %}
