<img class="mw-100" src="{{ asset('build/images/banniere2v5.png') }}"/>

<h1>Bonjour, veulliez confirmez votre Email pour reçevoir la newsletter</h1>

<p>
    S'il vous plait confirmez votre adresse Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Je confirme mon email</a>.
</p>

<p>
    Merci de votre confiance
</p>
