<h1>Salut! S'il vous plait confirmez votre Email!</h1>

<p>
    S'il vous plait confirmez votre adresse Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Je confirme mon email</a>.
</p>

<p>
    Bisous!
</p>
