version: "3.8"
services:

    www_docker_symfony:
        build: docker/php
        container_name: www_docker_symfony
        ports:
            - "80:80"
            - "8000:8000"
        volumes:
            - ./docker/php/vhosts:/etc/apache2/sites-enabled
            - ./:/var/www/DefautSymfonyApli
        restart: always
        networks:
            - dev

    db_docker_symfony:
        image: 'mariadb:10.5.10'
        container_name: db_docker_symfony
        volumes:
            - db-defautSymfonyApli:/var/lib/mysql
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
            MYSQL_DATABASE: defautSymfonyApli
        ports:
            # To allow the host machine to access the ports below, modify the lines below.
            # For example, to allow the host to connect to port 3306 on the container, you would change
            # "3306" to "3306:3306". Where the first port is exposed to the host and the second is the container port.
            # See https://docs.docker.com/compose/compose-file/#ports for more information.
            - '3306:3306'
        restart: always
        networks:
            - dev


    phpmyadmin_docker_symfony:
        image: phpmyadmin
        container_name: phpmyadmin_docker_symfony
        restart: always
        depends_on:
            - db_docker_symfony
        ports:
            - 8080:80
        environment:
            PMA_HOST: db_docker_symfony
        networks:
            - dev


    maildev_docker_symfony:
        image: maildev/maildev
        container_name: maildev_docker_symfony
        command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
        ports:
            - "8081:80"
        restart: always
        networks:
            - dev

networks:
    dev:

volumes: 
    db-defautSymfonyApli: