{% extends "@EasyAdmin/layout.html.twig" %}
{% block content_title %}Multimédia{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        {{ form(form) }}
    </div>
{% endblock %}