{% extends "@EasyAdmin/layout.html.twig" %}
{% block content_title %}Administration{% endblock %}
{% block content %}
    <div id="jumbotron">
        <h1 id="display-4">Administration</h1>
        <p id="lead">Bienvenu sur l'interface d'administration.</p>
        <div>
            <p>
                <a href="{{ path("home") }}">Quitter l'interface d'administration</a>
            </p>
        </div>
    </div>
    
{% endblock %}