{% extends "@EasyAdmin/layout.html.twig" %}
{% block content_title %}Administration{% endblock %}
{% block content %}
    <div id="jumbotron">
        <h1 id="display-4">Administration</h1>
        <p id="lead">Bienvenu sur l'interface d'administration.</p>
        <div id="stats-container">
            <p>nombre d'adhérents à jour <span>{{ totalCurrentAdherent() }} Adhérents</span></p>
            <canvas id="chartCp" class="dataForStat" data-type="doughnut" data-stats="{{ adherentsPerBranch()|json_encode() }}"></canvas>
            <canvas id="chartPrix" class="dataForStat" data-type="bar" data-stats="{{ adherentsPerAdhesion()|json_encode() }}"></canvas>
            <p>Somme total des adhésions à jours <span>{{ sumAdhesions() }}€</span></p>
        </div>
    </div>
{% endblock %}