// importation de bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.grid-articles{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.categories-article{
    color:black; 
    width: max-content;
    font-size: x-small;
}