section#articles{
    flex-direction: row;
}

#grid-articles{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 7vh;
}

.categories-article{
    color:black; 
    width: max-content;
    font-size: x-small;
}

#grid-articles div a{
    background-color: #00000022;
}

.thumbnail-article{
    position: relative;
    width: 100%;
}

.article-content{
    position: absolute;
    top: 13%;
    padding-left: 1%;
}