.mail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.container-5 {
    margin-top : 389px;
}

.mail1 {
    box-shadow: 10px 10px white;
}

.mail2 {
    box-shadow: 10px 10px white;
}

.form-control {
    width: 25vw;
    height: 3vh;
    margin-right: -1px;
    margin-left: 2px;
}

#contact_content {
    width: 55%;
    height: 237px;
    box-shadow: 10px 10px white;
}

.fond-contact {
    width: 100%;
    position: absolute;
    margin-top: -745px;
    z-index: -10;
}

.text-center5 {
    font-family: "Swis721 BT";
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    text-align: center;
}

.titrecontact {
    font-family: "Swis721 BT";
    font-size: 48px;
    color: red;
    margin-top: 296px;
    margin-left: -730px;
}

.roue1 {
    position: absolute;
    width: 29%;
    margin-top: -179px;
    margin-left: -240px;
}

.rouerouge1 {
    position: absolute;
    margin-top: -226px;
    margin-left: 888px;
}