.mail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.container-5 {
    margin-top :665px;
}

.mail1 {
    box-shadow: 10px 10px white;
}

.mail2 {
    box-shadow: 10px 10px white;
}

.form-control {
    width: 25vw;
    height: 3vh;
    margin-right: -1px;
    margin-left: 2px;
}

#contact_content {
    width: 55%;
    height: 237px;
    box-shadow: 10px 10px rgba(0, 0, 255, .2);
}

.fond-contact {
    width: 100vw;
    z-index: -10;
}