{% extends "@EasyAdmin/layout.html.twig" %}
{% block content_title %}Gestions des variables d'envrionnement{% endblock %}

{% block content %}
   {{ form_start(form) }}
      <div class="text-end">{{ form_row(form.Enregistrer) }}</div>
   {{ form_end(form) }}
{% endblock %}
