{% extends 'base.html.twig' %}

{% block title %}Problème serveur{% endblock %}

{% block body %}
    <h1>Problème serveur</h1>
    <p>Le serveur à rencontré un problème, veuillez contactez l'administrateur</p>
    <p>Le code erreur : {{status_code}}</p>
    <p>Le texte : {{status_text}}</p>
    <p>détails : {{exception.message}}</p>
{% endblock %}