{% extends 'base.html.twig' %}

{% block title %}{{article.name|raw}}{% endblock %}

{% block body %}
<div class="article-content" style="margin-top: 30vh;">
    {{ article.content|raw}}
    {% include "partial/__comment.html.twig" %}
</div>
{% endblock %}
