{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Hello AdherentController!{% endblock %}

{% block main %}
<<<<<<< HEAD
    <table class="datagrid text-center">
        <thead>
            <tr>
                {% for header in records[0] %}
                    <th>{{ header|convert_encoding('UTF-8', 'ISO-8859-1') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for items in records[1] %}
                <tr>
                {% for item in items %}
                    <td>{{ item|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                {% endfor %}
                <tr>
            {% endfor %}
        </tbody>
=======
    <table class="datagrid">
        {% for items in test %}
            {% if loop.index == 1 %}
                <thead>
                    <tr>
                        {% for item in items %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                </thead>
            {% else %}
                <tbody>
                    <tr>
                    {% for item in items %}
                        <td>{{ item }}</td>
                    {% endfor %}
                    <tr>
                </tbody>
            {% endif %}
        {% endfor %}
>>>>>>> 35551aca20b2b9df1470cf834effd88560cd75f1
    </table>
{% endblock %}
