{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Hello AdherentController!{% endblock %}

{% block main %}
    <table class="datagrid">
        {% for items in test %}
            {% if loop.index == 1 %}
                <thead>
                    <tr>
                        {% for item in items %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                </thead>
            {% else %}
                <tbody>
                    <tr>
                    {% for item in items %}
                        <td>{{ item }}</td>
                    {% endfor %}
                    <tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
